@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Prata&display=swap');

body {
  font-family: 'Newsreader', serif;
  background-color: #f2f2db;
  color: #333;
  margin: 0;
  padding: 50px;
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-family: 'Prata', sans-serif;
  text-transform: uppercase;
  /* Adds a bit of traditional headline style */
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  line-height: 1.2;
  margin: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

img {
  filter: grayscale(100%);
  max-width: 100%;
  height: auto;
}

p:first-letter {
  float: left;
  font-size: 4em;
  line-height: 0.4;
  padding-right: 8px;
}

a {
  color: #0645ad;
  text-decoration: underline;
}

a:hover {
  color: #da291c;
  text-decoration: none;
}